body {
	color: #dddddd;
	/*  Font list recommended by w3schools.com  */
	font-family: Verdana, Geneva, sans-serif;

	margin: 0;
	padding: 30px;

	/*  Image credit:    M. Kornmesser / ESA / Hubble  */
	/*  Retrieved from:  https://bit.ly/2rNMW8L        */
	background: url("background.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	/*  Average color of the image, shown before the image is loaded  */
	background-color: #792c01;
}

#content {
	/*  Center  */
	margin: 0 auto;
	padding: 0;

	/*  Width for small screens  */
	width: 100%;
	/*  Width for large screens  */
	max-width: 700px;
}

header {
	font-size: 2.5em;
	text-align: center;

	margin: 0 0 20px 0;
	border: 1px solid #dddddd;
	padding: 20px;

	background-color: #000000;
}

#story {
	margin: 0;
	border: 1px solid #dddddd;
	padding: 20px;

	background-color: #000000;
}

#story > :first-child {
	margin-top: 0;
}

#story > :last-child {
	margin-bottom: 0;
}

footer {
	font-size: 0.75em;

	margin: 20px 0 0 0;
	border: 1px solid #dddddd;
	padding: 20px;

	background-color: #000000;
}

/* Links */

a {
	font-weight: bold;
}

a:link, a:visited {
	color: #dddddd;
}

a:hover, a:active {
	color: #dd8800;
}

/*  Scrollbar  */

/*  Width  */
::-webkit-scrollbar {
	width: 10px;
}

/*  Track  */
::-webkit-scrollbar-track {
	background: #000000; 
}

/*  Handle  */
::-webkit-scrollbar-thumb {
	background: #dddddd; 
}

/*  Handle on hover  */
::-webkit-scrollbar-thumb:hover {
	background: #dd8800; 
}
